*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 236, 236);
}
header{
    background-color: rgb(255, 140, 0);
    padding: 1.5%;
    padding-left: 2%;
    color: white;
    font-size: medium;
    margin-bottom: 0.5%;
    font-family: 'McLaren', cursive;
    box-shadow: 0px 3px 7px rgb(196, 196, 196);
}
.ip{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3%;
}
.ip>textarea{
    font-size: large;
    padding: 1%;
    margin: 1%;
}
.first-ip{
    height: 3em;
}
.second-ip{
    height: 7em;
}
.plus{
    margin: 2%;
    padding: 0.2% 0.8%;
    font-size: 180%;  
    background-color: rgb(255, 140, 0);
    color: white;
    border-radius: 50em;
}
note{
    display: flex;
    flex-wrap: wrap;
    align-items:baseline;
}
note>div{
    background-color: white;
    max-width:min-content;
    flex-wrap: wrap;
    padding: 1%;
    margin: 1%;
    margin-left: 2%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(196, 196, 196);
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer{
    position:relative;
    left: 0;
    bottom: 0;
    padding: 1%;
    width: 100%;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}